# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build_plugin:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Build with Maven
      run: mvn -B package --file pom.xml
    - name: Rename artifacts
      run: mv target/JustSkyblock-*.jar target/JustSkyblock-SNAPSHOT.jar
    - name: Archive artifacts
      uses: actions/upload-artifact@v1
      if: success()
      with:
        name: JustSkyblock-SNAPSHOT
        path: target/JustSkyblock-SNAPSHOT.jar

  build_reosurce_pack:
    runs-on: ubuntu-latest
    steps:
    - name: Zip resource pack
      uses: papeloto/action-zip@v1
      with:
        files: resource-pack/JustSkyblock_Resource_Pack
        recursive: true
        dest: JustSkyblock_Resource_Pack.zip
    - name: Rename resource pack
      run: mv JustSkyblock_Resource_Pack.zip JustSkyblock_Resource_Pack.mcpack
    - name: Archive resource pack
      uses: actions/upload-artifact@v1
      if: success()
      with:
        name: JustSkyblock-ResourcePack
        path: JustSkyblock_Resource_Pack.mcpack
